<!-- Welcome to the Yakult -->
<form method="POST" action="/users/contact">
    <h3>Thanks for the dinner 💑</h3>
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
    </div>

    <div class="form-group">
      <label for="email">E-mail: </label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter E-mail" required>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="form-group">
      <label for="password2">Confirm Password: </label>
      <input type="password" class="form-control" id="password" name="password2" placeholder="Enter Password" required>
    </div>

    <input type="submit" value="Contact Us">
</form> 